#######
# web #
#######

MAPKIT_ALLOWED_ORIGINS=
MAPKIT_JS_AUTH_KEY=
MAPKIT_JS_KEY_ID=
MAPKIT_JS_TEAM_ID=

# backend url, possible values: local, http://localhost:5010, https://api.staging.cmueats.com
VITE_API_URL=http://api.staging.cmueats.com

##############
# dining-api #
##############

PORT=5010
NUMBER_OF_SCRAPES=10

SLACK_BACKEND_WEBHOOK_URL=
SLACK_FRONTEND_WEBHOOK_URL=
SLACK_MAIN_CHANNEL_WEBHOOK_URL=

INTER_SCRAPE_WAIT_INTERVAL=0
RELOAD_WAIT_INTERVAL=500000
DATABASE_URL=postgresql://postgres:donotuseinproduction@localhost:5432/dining_api
NODE_ENV=dev
ENV=dev

OIDC_SERVER=
OIDC_CLIENT_ID=
OIDC_CLIENT_SECRET=
SESSION_COOKIE_SIGNING_SECRET=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REFRESH_TOKEN=
ALERT_EMAIL_SEND=
ALERT_EMAIL_CC=

# set this to false to update the database on startup
DEV_DONT_FETCH=true
