node_modules/
.vscode
result.json
*.log
dist/
build/

# Nix / devenv
.devenv/
.pre-commit-config.yaml

# AI
.mcp.json
.claude

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.vscode
coverage

# for testing only
/public/example-response.json
